<div class="gallery_container">


  <div class="detailed_post_box">
    <h3 class="post_header">{{image.author}} - {{image.link}}</h3>
    <img class="detailed_image_box" src="{{image.link}}" alt="">

    <h4 class="post_header">{{image.description}}</h4>
    
    <form action="/gallery/{{image.id}}?_method=DELETE" method="POST">
      <input type="submit" value="D E L E T E">
    </form>
    
    <form action="/gallery/{{image.id}}/edit" method="GET">
      <input type="submit" value="CLICK HERE FOR EDIT FORM">
    </form>
  </div>



  <div class="sidebar">
    {{#each images}}
    <div class="sidebar_image_box">
      <a href='/gallery/{{id}}'>
        <img class="sidebar_image" src="{{link}}" alt="">
      </a>
      <br>
      <div class ="post_header">Author : {{author}}</div>
      <div class="post_header">{{link}}</div>
    </div>
  {{/each}}
  </div>


</div>